<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ИС вуза</title>
</head>
<body>
    <h2 align='center'>Информационная система вуза</h2>
    <div>
        Доброго дня, коллеги. 
    </div>
    <div>
        <a href="admin">Вход</a> для оператора системы
        <hr>
        <a href="academic_load">Просмотреть</a> учебную нагрузку для преподавателей
        <hr>
        <center>
        <span style="
           -webkit-transform: scaleX(-1);
              -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
            -khtml-transform: scaleX(-1);
               -ms-transform: scaleX(-1);
                   transform: scaleX(-1);
           display: inline-block;
        ">
            &copy;
        </span>2022
    </center>
    </div>
</body>
</html>